@tailwind components;
@tailwind utilities;

.chatlist::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@font-face {
  font-family: "Apercu MonoPro Light";
  src: local(ApercuMonoProLight),
    url("../../public/font/ApercuMonoProLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apercu MonoPro Light";
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.container .leftSide {
  position: relative;
  flex: 30%;
  background: black;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container .rightSide {
  position: relative;
  flex: 70%;
  background: #313131;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

@media only screen and (max-width: 450px) {
  .rightSide {
    height: 100vh;
    background-color: black;
  }
}

.rightSide .header {
  position: relative;
  width: 100%;
  height: 60px;
  background: rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_icons {
  display: flex;
}

.nav_icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5em;
  margin-left: 22px;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.search_chat div {
  width: 100%;
}

.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  color: white;
  background: rgb(30, 30, 30);
  padding: 6px;
  height: 38px;
  border-radius: 7px;
  font-size: 14px;
  padding-left: 40px;
}

.search_chat div input::placeholder {
  color: #bbb;
}

.search_chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}

.chatlist {
  position: relative;
  height: calc(100% - 110px);
  overflow: auto;
}

.chatlist .block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgb(72, 72, 72);
  cursor: pointer;
}

.chatlist .block {
  border: solid;
  margin: auto;
  border-bottom: none;
  background: rgb(26, 19, 19);
  background-size: 50% 3px;
}

.chatlist .block.active {
  background: #ebebeb;
}

.chatlist .block:hover {
  background: rgb(37, 36, 36);
}

.chatlist .block .imgBox {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.chatlist .block .details {
  position: relative;
  width: 100%;
}

.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chatlist .block .details .listHead h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: white;
}

.chatlist .block .details .listHead .time {
  font-size: 0.75em;
  color: #aaa;
}

.chatlist .block .details .listHead .time {
  color: white;
}

.chatlist .block.unread .details .listHead .time {
  color: #06d755;
}

.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_p b {
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.message_p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgText h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgText h4 span {
  font-size: 0.8em;
  color: white;
}

/* CHAT BOX */
.chatbox {
  position: relative;
  width: 100%;
  background-color: rgb(18 18 18);
  height: calc(100% - 60px);
  padding: 50px;
  overflow-y: auto;
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message p {
  position: relative;
  right: 0;
  text-align: center;
  /* max-width: 65%; */
  width: 500px;
  padding: 12px;
  background: #dcf8c8;
  border-radius: 10px;
  font-size: 0.9em;
}

/* .message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #dcf8c6 0%,
    #dcf8c6 50%,
    transparent 50%,
    transparent
  );
} */

.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}

.my_msg {
  justify-content: center;
}

.friend_msg {
  justify-content: center;
}

.friend_msg p {
  background: #dcf8c8;
  text-align: center;
}
/* 
.message.friend_msg p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
} */

.chat_input {
  position: relative;
  width: 100%;
  height: 60px;
  background: rgb(30, 30, 30);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_input ion-icon {
  cursor: pointer;
  font-size: 1.8em;
  color: #51585c;
}

.chat_input ion-icon:nth-child(1) {
  margin-right: 15px;
}

.chat_input input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(59, 58, 58);
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-parent {
  background-color: rgb(40, 43, 45);
  width: 400px;
  height: 150px;
}

.card {
  margin: 0px 0px 8px;
  position: relative;
  max-width: 100%;
  overflow-wrap: break-word;
}

.card-box {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.card-text-parent {
  padding-bottom: 24px;
  padding: 16px;
}

.card-text {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
  margin: 0;
  display: block;
}

.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;

  padding: 24px 32px;

  /* overflow: scroll;
  height: 100%; */
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane {
  display: flex;
  flex-direction: row;
  gap: 12px;
  /* background-color: white; */
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25); */
  padding: 12px;
  border-radius: 20px;
  width: 100%;
  min-height: 120px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.task {
  background-color: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 14px;
  width: 300px;

  font-size: 16px;
  /* cursor: move; */
}

.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: rgb(50, 50, 50);
  color: white;
}
